@charaset "utf-8";

/* reset css */
{ margin:0 padding:0; }

body{ background-color: #fffafa;
      font-family: 'Kosugi Maru', sans-serif; }

header{ padding: 10px; 
        text-align: center;
        background-color: #ffe4e1; }

section{ padding: 10px;
         background-color: #fff0f5; }
         
aside{ padding: 10px;
       background-color: #fdf5e6; }

footer{ padding: 10px;
        background-color: #f0ffff;
        text-align: center; }

/* 641px以上 */
@media screen and (min-width:641px){
        aside{ 
        width: calc(50% - 20px);
        float: left; }
        
        #side:after{
        /* clearfix */
        content:"";
        display:block;
        clear:both; } }

/* 1025px以上 */
@media screen and (min-width:1024px){
      #main{ mx-width: 1024px;
             margin: auto; }
      section{ width: calc(70% - 20px);
               float:left; }
      #side{ width: calc(1024px - 718px);
             float: left;}
      aside{ width: calc(100% - 20px); }
      #main:after{ content:"";
                   display:block;
                   clear:both; } }
